.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5.5rem;
}

/* Section One */
.section-one {
	margin-top: 2.5rem;
	width: 96rem;
	display: flex;
	gap: 2.5rem;
}

.section-left {
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3.5rem;
	width: 35%;
}

.section-left h2 {
	font-weight: bold;
	font-size: 5rem;
	margin-bottom: 0.5rem;
}

.section-left p {
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.section-left button {
	padding: 1rem 2rem;
	background: transparent;
	border: 2px solid white;
	color: white;
	font-size: 2rem;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

.section-right {
	width: 65%;
	margin-top: 3.5rem;
	margin-bottom: 2.25rem;
}

.section-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
}

/* Section Two */
.section-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.5rem;
	width: 96rem;
	background-color: rgb(37, 37, 40);
	padding: 2.5rem;
}

.section-two h1 {
	font-size: 2.5rem;
}

.cards-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.qualities-card img {
	width: 5rem;
	filter: invert(1);
}

.qualities-card:first-child img {
	transform: scale(1.4);
}

.qualities-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 25rem;
}

.qualities-card p {
	margin-top: 0.5rem;
	font-size: 1.25rem;
}

/* Section Three */
.section-three {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 96rem;
	background-color: rgb(37, 37, 40);
	padding: 2.5rem;
}

.section-three h1 {
	font-size: 2.5rem;
}

.section-three .divider {
	width: 15rem;
	border-top: 1px solid white;
	margin: 0.5rem 0;
}
