.products {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.products > h1 {
	padding: 2rem;
}

.productlist {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(3, auto);
	justify-content: space-around;
	width: 96rem;
	row-gap: 10rem;
	margin-bottom: 2.5rem;
}

.product-card {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	padding: 1.25rem;
	gap: 1.5rem;
	min-width: 18rem;
	border-radius: 12px;
}

.product-card img {
	width: 20rem;
	object-fit: cover;
	border-radius: 12px;
	cursor: pointer;
	transition: transform 0.25s;
}

.product-card img:hover {
	transform: scale(1.025);
}

.product-card i {
	font-size: 1.15rem;
}

.product-card .btn {
	border-radius: 4px;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background-color: #cd0728;
	border: none;
	color: white;
	font-weight: bold;
	transition: filter 0.25s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.product-card .btn:hover {
	filter: brightness(0.85);
}

.product-card strong {
	font-size: 1.25rem;
}

/* Product Detail */
.line {
	display: flex;
	justify-content: space-between;
}

.product-details .left-section,
.product-details .right-section {
	width: 40rem;
}

.left-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left-section h1 {
	margin-top: 3rem;
	margin-bottom: 2.5rem;
	font-size: 2.25rem;
}

.right-section {
	height: 100%;
}

.product-details {
	display: flex;
	justify-content: center;
	gap: 3.5rem;
	margin-top: 3.5rem;
}

.product-details .left-section img {
	width: 36rem;
	object-fit: cover;
	border-radius: 12px;
}

.product-details .product-details-container {
	border: 2px solid white;
	padding: 1.25rem;
	border-radius: 6px;
}

.detailed-product-card {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.detailed-product-card h3 {
	font-size: 1.5rem;
}

.performance-data .line {
	display: flex;
	justify-content: space-between;
	width: 36rem;
	margin-bottom: 2.5rem;
	font-size: 1.35rem;
}

.fps {
	display: inline-block;
	animation: fadeInSlide 1s;
}

@keyframes fadeInSlide {
	from {
		opacity: 0;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.btn-group {
	margin-bottom: 1.5rem;
	border-radius: 8px;
	overflow: hidden;
	background-color: #cd0728;
	display: flex;
	gap: 0.25rem;
	padding: 0.25rem;
}

.btn-group button {
	padding: 0.5rem 0.75rem;
	background-color: #cd0728;
	color: white;
	border: none;
	width: 4.5rem;
	border-radius: 4px;
	transition:
		filter 0.25s,
		background-color 0.25s;
	font-size: 0.95rem;
	font-weight: bold;
}

.btn-group button:not(.active) {
	cursor: pointer;
}

.btn-group button:hover:not(.active) {
	filter: brightness(0.85);
}

.btn-group button.active {
	background-color: #222222;
}

.performance-data span {
	color: lime;
	font-weight: bold;
}

.add-cart-btn {
	margin-top: 2rem;
	border-radius: 4px;
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	background-color: #cd0728;
	border: none;
	color: white;
	font-weight: bold;
	transition:
		filter 0.25s,
		transform 0.1s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.add-cart-btn:hover {
	filter: brightness(0.85);
}

.add-cart-btn:active {
	transform: scale(0.97);
}
