:root {
	--bg-color: #15003d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
}

a {
	color: white;

	text-decoration: none;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}
